header {
    background: rgb(61, 19, 198);
    background: linear-gradient(0deg, rgb(91, 47, 236) 0%, rgba(45, 45, 45, 1) 100%);
    height: 60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-cotent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsmovie-nav-cotent h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}