@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --color-primary: #332369;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    background: rgb(33, 33, 34);
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}